{% extends 'base.html' %}
{% load static %}
{% block title_page %}
    <title>
        Главная SocialGeo
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

{% block extra_css %}
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<!-- Header -->
<div class="intro-header" id="up">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>SocialGEO</h1>
                    <h3>Клуб Анонимных Стесняш представляет уникальный проект для путешественников!</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://gitlab.informatics.ru/bynanan/socialgeo" class="btn btn-default btn-lg gitlab-link" style="background-color: rgba(255,255,255,0.45 );"><i class="fa fa-gitlab"></i> <span class="network-name">Мы на gitlab</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Делись фотографиями из путешествий со своими друзьями</h2>
                <p class="lead"><a target="_blank" href="/signup">Зарегистрировавшись</a>, ты можешь выкладывать свежие фотографии, а также прикреплять их геопозицию к заметке!</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{%static 'images/pic1.png' %}" alt="">
            </div>
        </div>

    </div>
</div>

<div class="content-section-b">
    <div class="container">
        
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">На карте всегда отображаются все посты пользователей</h2>
                    <p class="lead">В разделе <a target="_blank" href="/map">"карта"</a> ты можешь просматривать все заметки и находить людей поблизости, а также новых друзей!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'images/pic3.png' %}" alt="">
                </div>

        </div>
        
    </div>
</div>

<div class="intro-bg" style="background-image: url('{% static 'images/laptop-travel.jpg' %}')">
    <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6" style="background-color: #f8f8f8">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Редактируй заметки через личный кабинет</h2>
                    <p class="lead">В личном кабинете ты можешь просматривать и изменять заметки</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!--<img class="img-responsive" src="{% static 'images/laptop-travel.png' %}" alt="">-->
                </div>
        </div>
        
    </div>
</div>

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Технологии</h2>
                <p class="lead">При создании мы использовали Python-фреймворк <a target="_blank" href="https://www.djangoproject.com/">Django</a> и <a target="_blank" href="https://tech.yandex.com/maps/">Yandex.Maps API</a></p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="{% static 'images/logo.png' %}" alt="">
            </div>
        </div>
    </div>
</div>

<section class="our-webcoderskull padding-lg">
    <div class="container">
      
        <h2 class="section-heading" style="color: white">Наша команда</h2>
      
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 270px;">
              <figure><img src="{%static 'images/1.png' %}" class="img-responsive" alt=""></figure>
              <h3><a href="https://gitlab.informatics.ru/bynanan">Серафима Неруш</a></h3>
              
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 270px;">
              <figure><img src="{%static 'images/2.jpeg' %}" class="img-responsive" alt=""></figure>
              <h3><a href="https://gitlab.informatics.ru/zaitsevk">Кирилл Зайцев</a></h3>
              
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 270px;">
              <figure><img src="{%static 'images/3.jpeg' %}" class="img-responsive" alt=""></figure>
              <h3><a href="https://gitlab.informatics.ru/dragoxander">Александр Туляков</a></h3>
              
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 270px;">
              <figure><img src="{%static 'images/4.jpeg' %}" class="img-responsive" alt=""></figure>
              <h3><a href="https://gitlab.informatics.ru/denilr">Михаил Лукашевич</a></h3>
              
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 270px;">
              <figure><img src="{%static 'images/5.jpeg' %}" class="img-responsive" alt=""></figure>
              <h3><a href="https://gitlab.informatics.ru/thebensky">Матвей Каиров</a></h3>
              
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 270px;">
              <figure><img src="{%static 'images/6.jpeg' %}" class="img-responsive" alt=""></figure>
              <h3><a href="https://gitlab.informatics.ru/Andreybird">Андрей Лебединский</a></h3>
              
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 270px;">
              <figure><img src="{%static 'avatar.jpg' %}" class="img-responsive" alt=""></figure>
              <h3><a href="https://gitlab.informatics.ru/distikrab">Никита Кравец</a></h3>
              
            </div>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}
