body {
  background-color: #f9e9c9;
  font-family: 'Open Sans', sans-serif;
}

.cards-container {
  position: relative;
  height: 300px;
  width: 1000px;
  top: 60px;
  padding-top: 50px;
  margin-bottom:120px;
  left: calc(50% - 450px);
  display: flex;
}

.card {
  display: flex;
  height: 380px;
  width: 600px;
  background-color: #f7f7f5;
  border-radius: 10px;
  box-shadow: 0rem 0 1rem #40403e;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card-poll {
  height: auto;
  width: 600px;
  background-color: #f7f7f5;
  border-radius: 10px;
  box-shadow: 0rem 0 1rem #40403e;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 250px;
}

.card-report {
  height: auto;
  width: 800px;
  background-color: #f7f7f5;
  border-radius: 10px;
  box-shadow: 0rem 0 1rem #40403e;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 50px;
}

.card-profile {
  height: auto;
  width: 800px;
  background-color: #f7f7f5;
  border-radius: 10px;
  box-shadow: 0rem 0 1rem #40403e;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 50px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-30px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

h3.title{
  color: black;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

h6.description {
  color: black;
  font-weight: 300;
  font-size: 10px;
  position: absolute;
  left: 20px;
  top: 50px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #5c5c5c;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,0.8) 0%, rgba(217,147,0,0.8) 65%, rgba(255,186,0,0.8) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 150px;
  transition: 0.4s ease-out;
}

.choices {
  position: absolute;
  top: 150px;
  left: calc(50% - 130px);
}

.choice {
    color: black;
}

.choice .votes{
    position: absolute;
    left: 200px
}

.divider{
    margin: 0px;
    width:200px;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}